/* Navigaton Bar */
.navbar-custom {
    position: fixed;
    width: 100%;
    z-index: 100;  /* mengatur urutan tumpukan elemen, nilai yang lebih tinggi akan muncul di atas */
    top: 0;
    background-color: #001524;
    padding: 10px 30px 10px 30px;
}

.navbar-custom .nav-link {
    font-size: 17px;
    font-weight: 400;
    color: #ffffff !important;
}

.navbar-custom .nav-link:hover {
    color: #ff7d00 !important;
}

.navbar-custom .nav-link.active {
    color: #ff7d00 !important;
    font-weight: 600;
}

.navbar-brand {
    font-family: "Amaranth", "Rowdies", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

/* Login Page */
.loginPage-card, .registerPage-card {
    background-color: #c0c0c0;
    padding-bottom: 2vw;
}

.loginPage-card .container, .registerPage-card .container {
    padding-top: 6vw;
}

.loginPage-card .container .loginInput-content, .registerPage-card .container .registerInput-content {
    padding: 3rem 2rem;
}

.loginPage-card .container h1, .registerPage-card .container h1 {
    font-size: 30px;
    font-weight: 500;
}

.loginPage-card .container label , .registerPage-card .container label {
    font-weight: 500;
}

.loginPage-card .container .form-control, .registerPage-card .container .form-control {
    font-weight: 500;
}

.loginPage-card .container .login-button, .registerPage-card .container .register-button {
    background-color: #ff6700;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}

.loginPage-card .container .login-button:hover, .registerPage-card .container .register-button:hover {
    background-color: #af4905;
}

.loginPage-card .card, .registerPage-card .card {
    box-shadow: 5px 5px 10px 5px #888888;  /* h-offset v-offset blur spread color */
}

/* Register Page */
.registerPage-card .bg-register-image {
    background-color: #ffffff;
}

/* Home Page */
.background-page {
    background-color: #c0c0c0;
}

.jumbotron {
    padding: 8vw 6vw 8vw 6vw;
    margin: 5vh 0 1vh 0;
    background-image: url("../img/jumbotron-image.jpg");
    position: relative;   /* relatif terhadap posisi normalnya, masih di dalam aliran dokumen */
    background-size: cover; /* mengatur agar background menutupi seluruh elemen tanpa mengubah rasionya */
    display: flex;
    background-position: center;
}

.jumbotron .jumbotron-content {
    z-index: 99;
    position: relatives;
}

.jumbotron-content .jumbotron-heading {
    font-size: 40px;
    font-weight: 600;
    color: #ebebeb;
}

.jumbotron-content > p {
    color: #c0c0c0;
}

.jumbotron-button {
    margin: 20px 0 0 0;   /* top, right, bottom, left */
    gap: 20px;  
}

.jumbotron > .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    position: absolute; /* menempatkan elemen diluar aliran normal, sehingga tidak memengaruhi tata letak */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.jumbotron-button .btn {
    background-color: #ff6700;
    color: #ffffff;
}

.jumbotron-button .btn:hover {
    background-color: #af4905;
}

.background-page {
    background-color: #ebebeb;
    color: black;
}

.card {
    border-radius: 10px;
    /* background-color: #c0c0c0; */
    background-color: #aeb8fe; 
}

.card > h4 {
    text-align: center;
    margin: 30px 0 30px 0;
    font-weight: 650;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.section-top .homepage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 40px 30px 40px;
    padding: 10px 5px 5px 5px;
    width: 170px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #888888;  /* h-offset v-offset blur spread color */
    background-color: #ebebeb;
}

.section-top .homepage-box img {
    margin: 5px 0 10px 0;
    width: 50px;
    height: 50px;
}

.homepage-box p {
    text-align: center;
}

#divider {
    background: linear-gradient(to right, transparent, black, transparent);
    height: 2px;
}

.section-bottom .homepage-box {
    display: flex;
    flex-direction: column;
    width: 110px;
    margin: 10px 20px 30px 20px;
    padding: 10px 15px 10px 15px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #888888;  /* h-offset v-offset blur spread color */
    background-color: #ebebeb;
}

.fas.fa-chevron-right {
    font-size: 20px;
    margin: 0 20px 0 20px;
}

.fas.fa-chevron-down {
    display: none;
}

/* Cari Jadwal Page */
.cariJadwalPage-card {
    align-items: center;
}

.search-box {
    padding: 30px 10px 10px 10px;
    margin-bottom: 4rem;
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #888888;  /* h-offset v-offset blur spread color */
    background-color: #ebebeb;
}

.search-box label {
    font-weight: 700;
}

.cariJadwalPage-card .form-control {
    background-color: #d6d6d6;
    border-color: #c0c0c0;
}

.search-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.search-button-container .btn {
    padding: 0.3rem 2rem 0.3rem 2rem;
    background-color: #ff6700;
    color: #ffffff;
}

.search-button-container .btn:hover {
    background-color: #af4905;
}

/* Hasil Cari Page */
.hasilCariPage-card {
    margin-top: 57px;
    display: flex;
}

.destination-container {
    display: flex;
    width: 100%;
    border: 2px solid black;
    padding: 20px 20px 10px 20px;
    margin: 10px 0 10px 0;
    flex-direction: column;
}

.destination-text {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.date-text {
    font-size: medium;
    font-weight: bold;
}

.listJadwal-container {
    border-bottom: 2px solid black;
}

.listJadwal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 0 15px 10px;
    margin: 0 auto; /* top bottom: 0, right left: auto */
    font-weight: bold;
}

.jadwalItem-container {
    border: 3px solid black;
    margin: 15px 0 3px 0;
}

.jadwal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 10px 20px 0;
    margin: 0 auto; /* top bottom: 0, right left: auto */
    font-weight: bold;
}

.jadwalItem-container .showSeats-button {
    margin-bottom: 15px;
    margin-left: 75vw;
    padding-left: 30px;
    padding-right: 30px;
}

/* Seats Map */

.front-indicator {
    margin: 0.5em 0;
    width: 100%;
    background-color: #f6f6f6;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000;
    font-size: 21px;
    font-weight: 700;
    padding: 1em 0;
    text-align: center;
    border-radius: 3em;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.wrapper {
    width: 100%;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

.booking-details {
    text-align: left;
    font-size: 12px;
    padding: 4.5em;
    margin-top: 4em;
}

.booking-details h2 {
    margin: 25px 0 20px 0;
    font-size: 17px;
}

.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 14px;
}

div.seatCharts-cell {
    color: #1a1c1e;
    height: 4em;
    width: 14.666666%;
    line-height: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;
}

div.seatCharts-row {
    height: 5em;
}

div.seatCharts-seat.available {
    background: rgb(156, 195, 222);
    background: radial-gradient(circle, rgba(156, 195, 222, 1) 0%, rgba(110, 185, 238, 1) 25%, rgba(64, 144, 212, 1) 50%, rgba(46, 135, 196, 1) 75%, rgba(40, 121, 177, 1) 100%);
}

div.seatCharts-seat.available.first-class {
    background: rgb(178, 64, 212);
    background: radial-gradient(circle, rgba(178, 64, 212, 1) 0%, rgba(137, 26, 158, 1) 25%, rgba(118, 12, 149, 1) 50%, rgba(126, 17, 149, 1) 75%, rgba(94, 2, 121, 1) 100%);
}

div.seatCharts-seat.focused {
    background: rgb(219, 215, 215);
    background: radial-gradient(circle, rgba(219, 215, 215, 1) 0%, rgba(205, 205, 205, 1) 25%, rgba(195, 192, 192, 1) 50%, rgba(204, 204, 204, 1) 75%, rgba(207, 207, 207, 1) 100%);
    color: #1a1c1e
}

div.seatCharts-seat.selected {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    text-shadow: 2px 2px 5px #000;
}

div.seatCharts-seat.unavailable {
    background: rgb(252, 121, 121);
    background: radial-gradient(circle, rgba(252, 121, 121, 1) 0%, rgba(249, 81, 81, 1) 25%, rgba(231, 53, 53, 1) 50%, rgba(255, 24, 24, 1) 75%, rgba(217, 6, 6, 1) 100%);
}

div.seatCharts-container {
    border-right: 1px dotted #adadad;
    padding: 20px;
}

div.seatCharts-legend {
    padding-left: 0px;
    bottom: 16px;
}

ul.seatCharts-legendList {
    padding-left: 0px;
}

span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}

.checkout-button {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

#selected-seats {
    min-height: 10em;
    overflow-y: scroll;
    background: #fff;
    padding: 0.5em 1em;
    overflow: auto;
}

ul#selected-seats:empty:after {
    content: "Please select Seat/s first";
    color: #6c6c6c;
    font-style: italic;
}

ul#selected-seats>li {
    color: #000;
    list-style: none;
}

.text-muted {
    color: rgb(255 252 252);
    text-shadow: 2px 2px 5px #000;
}

.text-center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.row {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.grid-50 {
    flex: 0 0 auto;
    width: 50%;
}

div.seatCharts-space {
    background-color: transparent;
    color: #fff !important;
}

li.seatCharts-legendItem {
    margin-top: 10px;
    font-size: 15px;
    line-height: 5em;
}

#checkout-button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    cursor: pointer;
}

#checkout-button:hover,
#reset-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#reset-btn {
    width: 100%;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 5em;
    display: block;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #06beb6 0%, #48b1bf 51%, #06beb6 100%);
}


/* #date_form {
    text-align: left !important;
    font-weight: 730;
    font-size: 1.2em !important;
}

form>fieldset:not(:first-of-type) {
    display: none;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

div.seatCharts-container {
    border-right: 1px dotted #adadad;
    min-width: 200px;
    padding: 20px;
    padding-left: 5px;
    float: left;
}

div.seatCharts-container {
    min-width: 700px;
}

.front-indicator {
    width: 60px;
    float: right;
    margin-top: -26px;
    margin-right: 5px;
    background-color: transparent;
    position: absolute;
    left: 53%;
}

div.seatCharts-row {
    height: 35px;
}

div.seatCharts-cell {
    color: #182C4E;
    height: 35px;
    width: 37px;
    line-height: 25px;
    padding-top: 5px;
}

div.seatCharts-space {
    background-color: white;
}

div.seatCharts-cell {
    height: 16px;
    width: 16px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
    line-height: 16px;
    color: blue;
}

div.seatCharts-seat.available {
    background-color: #969696;
}

div.seatCharts-seat.available {
    background-color: green;
}

div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;
}

div.seatCharts-seat {
    background-color: green;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: default;
} */


/* Isi Detail Pemesanan Page */
.detailPemesananPage-card {
    margin-top: 57px;
    display: flex;
    padding: 0 30px 20px 30px;
}

.detailPemesananPage-card .detail-pemesanan {
    display: grid;
    grid-gap: 20px;
}

.detail-pemesanan h5 {
    font-weight: 700;
    font-size: 22px;
}

.detailPemesananPage-card .detailPemesanan-container {
    display: grid;
    padding: 25px 20px 10px 20px;
    margin: 10px 20px 30px auto;
    box-shadow: 5px 5px 10px 5px #888888;  /* h-offset v-offset blur spread color */
    border-radius: 10px;
    background-color: #ebebeb;
}

.detailPemesananPage-card .form-control {
    border: 1px solid #c0c0c0;
    color: black;
    background-color: #d6d6d6;
}

.detailPerjalanan-container > p {
    font-weight: 700;
    font-size: large;
    line-height: 0.8;
}

.detailPemesananPage-card .detailHarga-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.detailHarga-container > .total-harga {
    font-weight: bold;
}

.detailHarga-container button {
    width: 100%;
}

.card .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* .button-container .left-button {
    padding: 10px 20px;
}

.button-container .right-button {
    padding: 10px 40px;
} */

.detailHarga-section .btn {
    /* padding: 0.3rem 2rem 0.3rem 2rem; */
    background-color: #ff6700;
    color: #ffffff;
}

.detailHarga-section .btn:hover {
    background-color: #af4905;
}

/*Pilih Metode Pembayaran Page*/
.pilihMetodePembayaranPage-card {
    margin-top: 75px;
    display: flex;
    padding: 0px 60px 30px 60px;
}

.pilihMetodePembayaranPage-card .detail-pemesanan {
    margin-bottom: 40px;
}

.pilihMetodePembayaranPage-card .detailPerjalanan-section {
    padding: 30px 50px 30px 50px;
    box-shadow: 5px 5px 10px 5px #888888;  /* h-offset v-offset blur spread color */
    border-radius: 10px;
    margin-top: 15px;
    background-color: #ebebeb;
}

.pilihMetodePembayaranPage-card .detailPerjalanan-container {
    margin-bottom: 30px;
}

.pilihMetodePembayaranPage-card .detailPemesanan-container > span:first-child {
    font-weight: 700;
    font-size: 17px;
}

.pilihMetodePembayaranPage-card .detailPemesanan-container {
    margin-bottom: 20px;
}

.pilihMetodePembayaranPage-card .detailPemesanan-container .total-harga {
    font-size: 17px;
}
.pilihMetodePembayaranPage-card .pilihMetodePembayaran-container {
    padding: 30px 40px 30px 40px;
    box-shadow: 5px 5px 10px 5px #888888;  /* h-offset v-offset blur spread color */
    border-radius: 10px;
    background-color: #ebebeb;
}

.pilihMetodePembayaran-section h5 {
    font-size: 22px;
}

.detailPemesanan-section > span:first-child {
    font-weight: 700;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.pilihMetodePembayaranPage-card .transferMethod-container {
    border: 2px solid black;
    padding: 2vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    transition: background-color 0.3s ease;
}

.transferMethod-container:hover {
    background-color: gray;
}

.pilihMetodePembayaranPage-card .transferBank-content {
    text-align: start;
}

.transferBank-content .transferBank-title {
    font-weight: 800;
}

.pilihMetodePembayaranPage-card .pilihMetodePembayaran-container > div:first-child {
    margin-bottom: 30px;
}

.pilihMetodePembayaranPage-card .pilihMetodePembayaran-section h5{
    font-weight: 700;
}



/* Metode Pembayaran Transfer Page */
.konfirmasiPembayaranPage-card .bank-details {
    background-color: #d1d1d1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    /* border: 2px solid black; */
}

.konfirmasiPembayaranPage-card .bank-details strong {
    font-size: 17px;
}

.form-group input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    box-sizing: border-box;
}


.konfirmasiPembayaranPage-card .bookTicket-button {
    /* padding: 0.3rem 2rem 0.3rem 2rem; */
    background-color: #ff6700;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
}

.konfirmasiPembayaranPage-card .bookTicket-button:hover {
    background-color: #af4905;
}

/* .form-group button {
    background-color: #2575fc;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}
.form-group button:hover {
    background-color: #1a5bb8;
} */

/* Riwayat Pemesanan Page */
.riwayatPemesananPage-card {
    padding: 0 2vw 4vw 2vw;
}
.riwayatPemesananPage-card .table .ticket-button, .detail-button {
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 500;
}

.riwayatPemesanan-section {
    padding: 30px 40px 30px 40px;
    box-shadow: 5px 5px 10px 5px #888888;  /* h-offset v-offset blur spread color */
    border-radius: 10px;
    margin-top: 15px;
    background-color: #ebebeb;
}

.riwayatPemesananPage-card .bookTicket-button {
    background-color: #ff6700;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
}

.riwayatPemesananPage-card .bookTicket-button:hover {
    background-color: #af4905;
}

.riwayatPemesanan-section .table-bordered {
    color: black;
}

.riwayatPemesanan-section .table-bordered th {
    border-bottom-color: #c0c0c0;
}
.riwayatPemesananPage-card .table .status-pembayaran {
    padding: 2px 2px 2px 2px;
    font-size: 12px;
    width:90%;
    color: #ffffff;
    font-weight: 500;
    border-radius: 20px;
}
.status-pembayaran.confirmed-status {
    background-color: #24ac7a;
}

.status-pembayaran.pending-status {
    background-color: #dba51a;
}

.status-pembayaran.cancel-status {
    background-color: #e74a3b;
}

/* Detail Riwayat Pemesanan Page */
.detailRiwayatPemesananPage-card .card {
    padding-top: 50px !important;
}
.detailRiwayatPemesananPage-card .status-pembayaran {
    font-size: 14px;
    padding: 3px 5px 3px 5px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}


/* Mobile */
@media (max-width: 575px) {

    /* Navigation Bar */
    .navbar-brand {
        font-size: 18px;
    }

    .navbar-toggler {
        padding: 4px 8px 4px 8px;
    }
    .navbar-toggler-icon {
        font-size: 18px;
        height: 30px;
        width: 30px;
    }

    /* Home Page */
    .jumbotron-content .jumbotron-heading {
        font-size: 30px;
    }

    .homepage-card > h4 {
        font-size: 20px;
    }

    .section-bottom .fa-chevron-right {
        display: none;
    }

    .section-top, .section-bottom {
        flex-direction: column;
    }

    .section-top .homepage-box {
        width: 40vw;
    }
    .section-bottom .homepage-box {
        width: 50vw;
    }

    .fas.fa-chevron-down {
        display: inline-block;
    }

    /* Cari Jadwal Page */
    .search-box {
        width: 90%;
    }

    .search-box .input-search {
        flex-direction: column;
    }

    /* Hasil Cari Page */
    .hasilCariPage-card {
        
    }

    /* Pilih Metode Pembayaran Page */
    .pilihMetodePembayaranPage-card {
        margin-top: 65px;
        display: flex;
        padding: 0px 30px 30px 30px;
    }
    
    .pilihMetodePembayaranPage-card .detail-pemesanan {
        margin-bottom: 40px;
    }

    /*Riwayat Pemesanan Page */
    .riwayatPemesanan-section {
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 767px) {

    /* Cari Jadwal Page */
    .search-box {
        width: 80%;
    }

    .search-box .input-search {
        flex-direction: column;
    }

}

/* Dekstop */
@media (min-width: 768px) and (max-width: 991px) {

    /* Cari Jadwal Page */
    .search-box {
        width: 90%;
    }

    /* Isi Detail Pemesaanan Page */
    .detailPemesananPage-card .detail-pemesanan {
        grid-template-columns: 2fr 1fr;   /*membuat grid dengan 2 kolom*/
        grid-template-rows: auto auto auto; /*membuat grid dengan 3 baris*/
        grid-template-areas:    /*mengatur letak grid*/
            "left1 right"
            "left2 right"
            "left3 right";
    }
    
    .detailPemesananPage-card .detailPerjalanan-section:nth-child(1) {
        grid-area: left1;
    }
    
    .detailPemesananPage-card .dataPemesan-section:nth-child(2) {
        grid-area: left2;
    }
    
    .detailPemesananPage-card .dataPenumpang-section:nth-child(3) {
        grid-area: left3;
    }
    
    .detailPemesananPage-card .detailHarga-section {
        grid-area: right;
    }
}

/* Large Desktop */
@media (min-width: 992px) {

    /* Cari Jadwal Page */
    .search-box {
        width: 85%;
    }

    /* Isi Detail Pemesaanan Page */
    .detailPemesananPage-card .detail-pemesanan {
        grid-template-columns: 2fr 1fr;   /*membuat grid dengan 2 kolom*/
        grid-template-rows: auto auto auto; /*membuat grid dengan 3 baris*/
        grid-template-areas:    /*mengatur letak grid*/
            "left1 right"
            "left2 right"
            "left3 right";
    }
    
    .detailPemesananPage-card .detailPerjalanan-section:nth-child(1) {
        grid-area: left1;
    }
    
    .detailPemesananPage-card .dataPemesan-section:nth-child(2) {
        grid-area: left2;
    }
    
    .detailPemesananPage-card .dataPenumpang-section:nth-child(3) {
        grid-area: left3;
    }
    
    .detailPemesananPage-card .detailHarga-section {
        grid-area: right;
    }
}