/* Navigaton Bar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;  /* mengatur urutan tumpukan elemen, nilai yang lebih tinggi akan muncul di atas */
    top: 0;
    background-color: goldenrod;
}

/* Home Page */
.jumbotron {
    padding: 8vw 6vw 8vw 6vw;
    margin: 5vh 0 2vh 0;
}

.jumbotron .jumbotron-content {
    z-index: 99;
    position: relatives;
}

.jumbotron-content > p {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.jumbotron-button {
    margin: 20px 0 0 0;   /* top, right, bottom, left */
    gap: 20px;  
}

.homepage-jumbotron {
    background-color: darkgray;
}

.card {
    background-color: rgb(183, 179, 235);
    color: black;
    border-radius: 20px;
    padding: 13px 7px 15px 7px;
}

.card > h4 {
    text-align: center;
    margin: 20px 0 20px 0;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.section-top .homepage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin: 10px 20px 10px 20px;
    padding: 10px 5px 5px 5px;
    width: 170px;
    height: 200px;
    /*
    flex: 1;    /* flex-grow, flex-shrink, flex-basis */
}

.section-top .homepage-box img {
    margin: 5px 0 10px 0;
    width: 50px;
    height: 50px;
}

.homepage-box p {
    text-align: center;
}

#divider {
    background: linear-gradient(to right, transparent, black, transparent);
    /* background-image: radial-gradient(rgba(255,0,0,1), rgba(255,0,0,0)); */
    height: 2px;
    /* border-radius: 5px; */
}

.section-bottom .homepage-box {
    display: flex;
    flex-direction: column;
    width: 110px;
    margin: 10px 20px 10px 20px;
    padding: 10px 15px 10px 15px;
    align-items: center;

    border: 2px solid black;
}

.fas.fa-chevron-right {
    font-size: 20px;
}

.fas.fa-chevron-down {
    display: none;
}

/* Cari Jadwal Page */
.cariJadwal-jumbotron {
    background-image: url("../img/contohgambarjumbotron.jpeg");
    position: relative;   /* relatif terhadap posisi normalnya, masih di dalam aliran dokumen */
    background-size: cover; /* mengatur agar background menutupi seluruh elemen tanpa mengubah rasionya */
    /* background-attachment: fixed; */
    display: flex;
}

.cariJadwal-jumbotron > .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 98;
    position: absolute; /* menempatkan elemen diluar aliran normal, sehingga tidak memengaruhi tata letak */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cariJadwalPage-card {
    align-items: center;
}

.search-box {
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin-bottom: 2rem;
}

.search-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.search-button-container > button {
    padding: 0.3rem 2rem 0.3rem 2rem;
}

/* Hasil Cari Page */
.hasilCariPage-card {
    margin-top: 57px;
    display: flex;
}

.destination-container {
    display: flex;
    width: 100%;
    border: 2px solid black;
    padding: 20px 20px 10px 20px;
    margin: 10px 0 10px 0;
    flex-direction: column;
}

.destination-text {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.date-text {
    font-size: medium;
    font-weight: bold;
}

.listJadwal-container {
    border-bottom: 2px solid black;
}

.listJadwal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 0 15px 10px;
    margin: 0 auto; /* top bottom: 0, right left: auto */
    font-weight: bold;
}

.jadwalItem-container {
    border: 3px solid black;
    margin: 15px 0 3px 0;
}

.jadwal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 10px 20px 0;
    margin: 0 auto; /* top bottom: 0, right left: auto */
    font-weight: bold;
}

.jadwalItem-container .showSeats-button {
    margin-bottom: 15px;
    margin-left: 75vw;
    padding-left: 30px;
    padding-right: 30px;
}


/* Isi Detail Pemesaanan Page */
.detailPemesananPage-card {
    margin-top: 57px;
    display: flex;
    padding: 0 30px 20px 30px;
}

.detailPemesananPage-card .detail-pemesanan {
    display: grid;
    grid-gap: 20px;
}

.detail-pemesanan h5 {
    font-weight: 700;
}

.detailPemesananPage-card .detailPemesanan-container {
    display: grid;
    border: 2px solid black;
    padding: 25px 20px 10px 20px;
    margin: 10px 20px 40px auto;
}

.detailPerjalanan-container > p {
    font-weight: 700;
    font-size: large;
    line-height: 0.8;
}

.detailHarga-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.detailHarga-container > .total-harga {
    font-weight: bold;
}

.detailHarga-container button {
    width: 100%;
}

.card .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.button-container .left-button {
    padding: 10px 20px;
}

.button-container .right-button {
    padding: 10px 40px;
}

/*Pilih Metode Pembayaran Page*/
.pilihMetodePembayaranPage-card {
    margin-top: 57px;
    display: flex;
    padding: 0 30px 20px 30px;
}

.pilihMetodePembayaranPage-card .detailPerjalanan-section {
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
}

.pilihMetodePembayaranPage-card .detailPemesanan-section {
    margin-bottom: 30px;
}

.pilihMetodePembayaranPage-card .pilihMetodePembayaran-container {
    border: 2px solid black;
    padding: 30px 40px 30px 40px;
}

.pilihMetodePembayaranPage-card .transferMethod-container {
    border: 2px solid black;
    padding: 30px 40px 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    transition: background-color 0.3s ease;
}

.transferMethod-container:hover {
    background-color: gray;
}

.pilihMetodePembayaranPage-card .transferBank-content {
    text-align: start;
}

.transferBank-content .transferBank-title {
    font-weight: 800;
}

.pilihMetodePembayaranPage-card .pilihMetodePembayaran-container > div:first-child {
    margin-bottom: 30px;
}

.pilihMetodePembayaranPage-card .pilihMetodePembayaran-section h5{
    font-weight: 700;
}

/* Mobile */
@media (max-width: 575px) {

    /* Navigation Bar */
    .navbar-brand {
        font-size: 18px;
    }

    .navbar-toggler {
        padding: 4px 8px 4px 8px;
    }
    .navbar-toggler-icon {
        font-size: 18px;
    }

    /* Home Page */

    .jumbotron-content > p {
        font-size: 30px
    }

    .homepage-card > h4 {
        font-size: 20px;
    }

    .section-bottom .fa-chevron-right {
        display: none;
    }

    .section-top, .section-bottom {
        flex-direction: column;
    }

    .section-top .homepage-box {
        width: 40vw;
    }
    .section-bottom .homepage-box {
        width: 50vw;
    }

    .fas.fa-chevron-down {
        display: inline-block;
    }

    /* Cari Jadwal Page */
    .search-box {
        width: 90%;
    }

    .search-box .input-search {
        flex-direction: column;
    }

    /* Hasil Cari Page */
    .hasilCariPage-card {
        
    }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 767px) {

    /* Cari Jadwal Page */
    .search-box {
        width: 80%;
    }

    .search-box .input-search {
        flex-direction: column;
    }

}

/* Dekstop */
@media (min-width: 768px) and (max-width: 991px) {

    /* Cari Jadwal Page */
    .search-box {
        width: 90%;
    }

    /* Isi Detail Pemesaanan Page */
    .detailPemesananPage-card .detail-pemesanan {
        grid-template-columns: 2fr 1fr;   /*membuat grid dengan 2 kolom*/
        grid-template-rows: auto auto auto; /*membuat grid dengan 3 baris*/
        grid-template-areas:    /*mengatur letak grid*/
            "left1 right"
            "left2 right"
            "left3 right";
    }
    
    .detailPemesananPage-card .detailPerjalanan-section:nth-child(1) {
        grid-area: left1;
    }
    
    .detailPemesananPage-card .dataPemesan-section:nth-child(2) {
        grid-area: left2;
    }
    
    .detailPemesananPage-card .dataPenumpang-section:nth-child(3) {
        grid-area: left3;
    }
    
    .detailPemesananPage-card .detailHarga-section {
        grid-area: right;
    }
}

/* Large Desktop */
@media (min-width: 992px) {

    /* Cari Jadwal Page */
    .search-box {
        width: 85%;
    }

    /* Isi Detail Pemesaanan Page */
    .detailPemesananPage-card .detail-pemesanan {
        grid-template-columns: 2fr 1fr;   /*membuat grid dengan 2 kolom*/
        grid-template-rows: auto auto auto; /*membuat grid dengan 3 baris*/
        grid-template-areas:    /*mengatur letak grid*/
            "left1 right"
            "left2 right"
            "left3 right";
    }
    
    .detailPemesananPage-card .detailPerjalanan-section:nth-child(1) {
        grid-area: left1;
    }
    
    .detailPemesananPage-card .dataPemesan-section:nth-child(2) {
        grid-area: left2;
    }
    
    .detailPemesananPage-card .dataPenumpang-section:nth-child(3) {
        grid-area: left3;
    }
    
    .detailPemesananPage-card .detailHarga-section {
        grid-area: right;
    }
}